
<body class="bg-dark">
<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Editar Conta</div>
      <div class="card-body">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <br>
              <div class="form-group">
                <%= f.label :nome %>
                <%= f.text_field :nome, autofocus: true, class: "form-control" %>
              </div>
              <br>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <br>
              <div class="form-group">
                <%= f.label :nova_senha %></i><br>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :confirmação_de_senha %><br>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
              </div>
              <br>
              <div class="form-group">
                <%= f.label :desenvolvedor %>
                <%= f.check_box :desenvolvedor, autofocus: true %>
              </div>

              <br>
              <div class="form-group">
                <%= f.label :senha_atual %><br>
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %><br />
                <i>(é preciso a senha atual para salvar as modificações)</i>
              </div>

              <br>

              <div class="actions">
                <%= f.submit "Atualizar", class: "btn btn-primary btn-block" %>
              </div>
              <% end %>
              <br>
              <br>

              <%= button_to "Apagar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete, class: "btn btn-secundary btn-block" %>
              <a class="btn btn-secundary btn-block" href="/">Voltar</a>
            </div>
          </div>
        </div>
