
<body class="bg-dark">
<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Novo Usuário</div>
      <div class="card-body">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :nome %><br />
              <%= f.text_field :nome, autofocus: true, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :senha %>
              <% if @minimum_password_length %>
              <em>(minimo de <%= @minimum_password_length %> caracteres)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :confirmação_de_senha %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :desenvolvedor %>
              <%= f.check_box :desenvolvedor, autofocus: true %>
            </div>


            <div class="actions">
              <%= f.submit "Cadastrar", class: "btn btn-primary btn-block" %>
            </div>
            <% end %>
            <%= link_to "Já tenho cadastro", login_path(@projeto), class: "d-block small mt-3 text-center"%>
          </div>
        </div>
      </div>
