<div class="container my-auto">
  <div class="row">
    <div class="col-lg-10 mx-auto">

<%= form_with(model: projeto, local: true) do |form| %>
  <% if projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>

      <ul>
      <% projeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %><br>
    <%= form.text_field :titulo, id: :projeto_titulo %>
  </div>

  <div class="field">
    <%= form.label :descricao %><br>
    <%= form.text_area :descricao, id: :projeto_descricao %>
  </div>

  <div class="field">
    <%= form.label :instrucoes %><br>
    <%= form.text_area :instrucoes, id: :projeto_instrucoes %>
  </div>
<br>

<div class="field">
  <%= form.label :link %><br>
  <%= form.text_field :link, id: :projeto_link %>
</div>

  <div class="field">
    <%= form.label :foto_do_projeto %>
    <%= form.file_field :foto_projeto,  id: :foto_projeto%>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>

</div>
</div>
</div>
