<div class="container my-auto">
  <div class="row">
    <div class="col-lg-10 mx-auto">

<%= form_with(model: @projeto, local: true) do |form| %>
  <% if @projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>

      <ul>
      <% projeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="comment">Título:</label>
    <%= form.text_field :titulo, id: :projeto_titulo, class:"form-control", rows: "1" %>
    <br>
  </div>

  <div class="field">
    <label for="comment">Descrição:</label>
    <%= form.text_area :descricao, id: :projeto_descricao, class:"form-control", rows: "5" , placeholder:"Descreva seu projeto resaltando sua importancia e o asunto abordado."%>
    <br>
  </div>

  <div class="field">
    <label for="comment">Instruções:</label>
    <%= form.text_area :instrucoes, id: :projeto_instrucoes, class:"form-control", rows: "5", placeholder:"Como seu projeto pode ser baixado e usado? Escreva aqui as instruções."%>
    <br>
  </div>
<br>

<div class="field">
  <label for="comment">Link do repositório do projeto:</label>
  <%= form.text_field :link, id: :projeto_link, class:"form-control", rows: "1", placeholder:"link para acesso ao projeto (gitlab, github, bit bucket...)"%>
</div>
<br>
  <div class="field">
    <%= form.label :foto_do_projeto %>
    <%= form.file_field :foto_projeto,  id: :foto_projeto, class: "img-responsive"%>
  </div>
<br>
  <div class="actions">
    <%= form.submit "Salvar Projeto", class: "btn btn-xl btn-primary"%>
  </div>


<% end %>

</div>
</div>
</div>
