<p id="notice"><%= notice %></p>
<div class="container my-auto">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-uppercase">
        <strong>Projetos</strong>
      </h1>

    <% @projetos.each do |projeto| %>
      <tr>
        <h2><%= projeto.titulo %></h2>
        <%= image_tag projeto.foto_projeto.url(:thumb) %><br>
        <%autor = Usuario.find(projeto.usuario_id)%>
        <strong>Autoria: <%=autor.nome%></strong>
        <p><strong>Descrição: </strong><%= projeto.descricao %></p>
        <% prox_pagina = "projetos/"+projeto.id.to_s%>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href=<%=prox_pagina%>>Visualizar</a>
        <br>
    <% end %>
<br>
<br>
    <%if usuario_signed_in?%>
      <%if current_usuario.desenvolvedor%>
        <%= link_to "Meus projetos", perfil_path(@projeto), class: "btn btn-primary btn-xl js-scroll-trigger" %>
      <%end%>
    <%end%>
    <br>
    <br>

<br>
</div>
</div>
</div>
