<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @projeto.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @projeto.descricao %>
</p>

<p>
  <strong>Instrucoes:</strong>
  <%= @projeto.instrucoes %>
</p>

<%if usuario_signed_in?%>
  <% if @projeto.usuario_id == current_usuario.id %>
  <%= link_to 'Editar', edit_projeto_path(@projeto) %>
  <%= link_to 'Apagar', projeto_path(@projeto), method: :delete, data: {confirm: "Tem certeza?"} %>
  <% end %>
<%end%>
  <%= link_to 'Voltar', projetos_path %>
