<p id="notice"><%= notice %></p>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase"
              <strong><%= @projeto.titulo%></strong>
            </h1>
            <%= image_tag @projeto.foto_projeto.url(:medium) %>

            <p>
              <%autor = Usuario.find(@projeto.usuario_id)%>
              <strong><h4>Autoria: <%=link_to autor.nome, '../usuarios/'+autor.id.to_s%></h4></strong><br>

              <strong>Descricao:</strong><br>
              <%= @projeto.descricao %>
            </p>

            <p>
              <strong>Instrucoes:</strong><br>
              <%= @projeto.instrucoes %>
            </p>

            <%if usuario_signed_in?%>
            <% if @projeto.usuario_id == current_usuario.id %>
            <%= link_to 'Editar', edit_projeto_path(@projeto) %>
            <%= link_to 'Apagar', projeto_path(@projeto), method: :delete, data: {confirm: "Tem certeza?"} %>
            <% end %>
            <%end%>
            <br>
            <br>
            <br>

            <a class="btn btn-primary btn-xl js-scroll-trigger" href=<%=@projeto.link%> >Ir para o repositorio do projeto</a>
            <br>
            <br>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/projetos">Voltar para Projetos</a>
            <%if usuario_signed_in?%>
              <%if current_usuario.desenvolvedor%>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="/perfil">Meus Projetos</a>
              <%end%>
            <%end%>

            <%= render @projeto.comentarios %>
            <div>
				      <%= link_to "Add Review", new_projeto_comentario_path(@projeto), class: "btn-custom" %>
			      </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>

      </div>
