<p id="notice"><%= notice %></p>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong><%= @projeto.titulo%></strong>
            </h1>
            <hr>
            <div class="container-fluid">
            <figure class="figure">
              <%= image_tag @projeto.foto_projeto.url(:medium) %>
            </figure>

            <p></p>

            <p>
              <%autor = Usuario.find(@projeto.usuario_id)%>
              <strong><h4>Autoria: <%=link_to autor.nome, '../usuarios/'+autor.id.to_s%></h4></strong><br>
              <p><%= link_to 'like', method: :like, class: "btn btn-primary btn-xl js-scroll-trigger"%> <%= @projeto.get_upvotes.size %>
              <%= link_to 'dislike', method: :dislike, class: "btn btn-primary btn-xl js-scroll-trigger"%> <%= @projeto.get_downvotes.size %></p>
              <strong>Descrição:</strong><br>
              <%= @projeto.descricao %>
            </p>

            <p>
              <strong>Instruções:</strong><br>
              <%= @projeto.instrucoes %>
            </p>

            <%if usuario_signed_in?%>
            <% if @projeto.usuario_id == current_usuario.id %>
            <%= link_to 'Editar', edit_projeto_path(@projeto) %>
            <%= link_to 'Apagar', projeto_path(@projeto), method: :delete, data: {confirm: "Tem certeza?"} %>
            <% end %>
            <%end%>
            <br>
            <br>
            <br>
            <a class="btn btn-primary btn-xl jsprojetos-scroll-trigger" href="<%=@projeto.link%>">Ir para o repositório do projeto</a>
            <br>
            <br>
            <%= link_to "Voltar para Projetos", projetos_path(@projeto), class: "btn btn-primary btn-xl js-scroll-trigger" %>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/projetos">Voltar para Projetos</a>
            <%if usuario_signed_in?%>
              <%if current_usuario.desenvolvedor%>
                <%= link_to "Meus projetos", perfil_path(@projeto), class: "btn btn-primary btn-xl js-scroll-trigger" %>
              <%end%>
            <%end%>
            <hr>
              <h3 class="text-uppercase">
                Comentários:
              </h3>

            <%= render @projeto.comentarios %>

            <%= link_to "Adicione um Comentário", new_projeto_comentario_path(@projeto), class: "btn btn-primary btn-xl js-scroll-trigger" %>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>

      </div>
    </div>
