<div class="container my-auto">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-uppercase">
        <strong>Login</strong>
      </h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :senha %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :lembrar_de_mim%>
      </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <% end %>
      <br>
      <br>
      <%= link_to "Não é cadastrado?", cadastrar_path(@projeto), class: "btn btn-primary btn-xl js-scroll-trigger"%>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
