
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              Olá <%=current_usuario.nome%>
            </h1>
            <%if current_usuario.desenvolvedor%>
            <p><strong> Você tem <%=current_usuario.projetos.count%> projetos</strong></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="projetos/new">Crie um novo projeto</a>
            <%end%>
            <div class="stats pull-right">
              <a href="<%= seguindo_path %>">
                PROJETOS DE USUARIOS SEGUIDOS
              </a>
            </div>
          <br>
            <section class="stats pull-right">
              <%= render 'shared/stats' %>
            </section>
            <br>
            <hr>
          </div>
          <%if current_usuario.desenvolvedor%>
          <%if current_usuario.projetos.count == 0%>
          <div class="col-lg-8 mx-auto">
            <header class="masthead text-center d-flex">
              <h4 class="text-uppercase">
                Você não tem projetos ainda :(
              </h4>
            </header>
          </div>

          <%else%>
          <div class="col-lg-8 mx-auto">
            <header class="masthead text-center d-flex">
              <h1 class="text-uppercase">
                <strong>Seus Projetos:</strong>
                </h1>
          </header>
            <br>
          <% current_usuario.projetos.each do |projeto| %>
            <tr>
              <h2><%= projeto.titulo %></h2>
              <%= image_tag projeto.foto_projeto.url(:medium) %><br>
              <%autor = Usuario.find(projeto.usuario_id)%>
              <p><strong>Descricao: </strong><%= projeto.descricao %></p>
              <% prox_pagina = "projetos/"+projeto.id.to_s%>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href=<%=prox_pagina %>>Visualizar</a>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href=<%=prox_pagina+"/edit" %>>Editar</a>

              <br>
          <% end %>
          <br>
          <br>

            <a class="btn btn-primary btn-xl js-scroll-trigger" href="projetos/new">Crie um novo projeto</a>
          <%end%>

          <br>
          <br>
          <%else%>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Bem vindo(a) ao nosso site de compartilhamento de projetos!
               Aqui você pode explorar projetos novos, seguir outros usuários! </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="projetos#index">Explorar projetos</a>
            <%if current_usuario.following.count > 0%>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="seguindo">Ver projetos que sigo</a>
            <%end%>

          </div>
          <%end%>
          </div>
        </div>
      </div>
