
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              Olá <%=current_usuario.nome%>
            </h1>
            <h2 class="title">
              <%=current_usuario.username%>
            </h2>
            <%if current_usuario.desenvolvedor%>
            <p><strong> Você tem <%=current_usuario.projetos.count%> projetos</strong></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="projetos/new">Crie um novo projeto</a>
            <%else%>
            <br>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/projetos">Explorar projetos</a>
            <%end%>
            <%if current_usuario.following.count >0 %>
            <div class="stats pull-right">
              <a href="<%= seguindo_path %>">
                PROJETOS DE USUARIOS SEGUIDOS
              </a>
            </div>
            <%end%>
          <br>
            <section class="stats pull-right">
              <%= render 'shared/stats' %>
            </section>
            <br>
            <hr>
          </div>
          <%if current_usuario.projetos.count == 0 && current_usuario.desenvolvedor%>
          <div class="col-lg-8 mx-auto">
            <header class="masthead text-center d-flex">
              <h4 class="text-uppercase">
                Você não tem projetos ainda :(
              </h4>
            </header>
          </div>
          <%elsif current_usuario.projetos.count == 0 && !current_usuario.desenvolvedor%>
          <div class="col-lg-8 mx-auto">
            <header class="masthead text-center d-flex">
              <h4>Bem vindo(a) ao CoffeeBreak, aqui você pode seguir seus amigos e acompanhar os projetos que eles fazem! Se torne um desenvolvedor e crie seu próprios projetos!
              </h4>
            </header>
          </div>
          <%elsif current_usuario.projetos.count > 0%>
            <%if !current_usuario.desenvolvedor%>
            <div class="col-lg-8 mx-auto">
              <h4>Se torne um desenvolvedor novamente e crie mais projetos!
              </h4>
              </div>
            <%end%>
            <div class="col-lg-8 mx-auto">
              <header class="masthead text-center d-flex">
                <h1 class="text-uppercase">
                  <strong>Seus Projetos:</strong>
                </h1>
              </header>
              <br>

            <%projetos = current_usuario.projetos.order("created_at DESC")%>

            <div class="card-columns">

            <% projetos.each do |projeto| %>
<!--
              <h2><%= projeto.titulo %></h2>
              <%= image_tag projeto.foto_projeto.url(:medium) %><br>
              <%autor = Usuario.find(projeto.usuario_id)%>
              <p><strong>Descricao: </strong><%= projeto.descricao %></p>
              <% prox_pagina = "projetos/"+projeto.id.to_s%>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href=<%=prox_pagina %>>Visualizar</a>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href=<%=prox_pagina+"/edit" %>>Editar</a>
-->


              <% prox_pagina = "projetos/"+projeto.id.to_s%>

                <div class="card "style="width: 100; height: 80; ">
                  <%= link_to prox_pagina  do %>
                  <h4 class=" text-center font-weight-bold"><%=projeto.titulo%></h4>
                  <%= image_tag projeto.foto_projeto.url, :size => '260x180', alt:"Card Image", class:"card-img img-fluid"  %>
                  <%end%>
                  <div class="card-block">
                    <p class="card-text text-center"><%=truncate projeto.descricao, length: 140%></p>
                    <!--<a class="btn btn-primary btn-card-titlexl js-scroll-trigger" href=<%=prox_pagina %>Visualizar</a>-->
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Última atualização:<%=projeto.updated_at.strftime("%d %b %Y, %H:%M")%></small>
                  </div>
                </div>

              <br>
          <%end %>
        </div>

        <br>
        <br>

        <%if current_usuario.desenvolvedor && current_usuario.projetos.count > 0%>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="projetos/new">Crie um novo projeto</a>
        <%end%>

      <%end%>

      <br>
      <br>
    </div>
  </div>
</div>
