
<body class="corpo-instagram">


<p id="notice"><%= notice %></p>
<div class="container my-auto">
  <div class="row">
    <div class="col-lg-10 mx-auto">


      <%projetos = Array.new%>
      <%quantidade_de_projetos_seguidos = 0%>
      <% current_usuario.following.each do |f| %>
        <%f.projetos.each do |p| %>
          <%projetos.push(p) %>
        <%end%>
    <% end %>

    <% projetos.each do |projeto| %>
    <% prox_pagina = "projetos/"+projeto.id.to_s%>
      <tr>
          <article class="card">
            <%= link_to prox_pagina  do %>
              <header class="card-title">
                <h3 class="text-center font-weight-bold" ><%= projeto.titulo %></h3>
              </header>
              <div class="card-img">
                <%= image_tag projeto.foto_projeto.url, :size => '200x500', class: "rounded card-img" %>
              </div>
                <%end%>

            <div class="card-body">
              <%autor = Usuario.find(projeto.usuario_id)%>
              <strong>Desenvolvedor: <%=link_to autor.username, '../usuarios/'+autor.id.to_s%></strong>
              <p><strong>Descrição: </strong><%=truncate projeto.descricao, length: 600%></p>
            </div>
          </article>
        <br>
        <br>
    <% end %>

  <%if projetos.count == 0%>
    <h1>Não encontramos nenhum projeto :(</h1>
    <h3>Siga outros usuários e acompanhe novos projetos!</h3>
    <br>
    <br>
    <%= link_to "Explorar", projetos_path, class:"btn btn-secondary btn-xl js-scroll-trigger" %>

  <%end%>


    <br>
    <br>

<br>
</div>
</div>
</div>
</body>
