
<div class="container my-auto">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-uppercase">
        <strong>Projetos seguidos</strong>
      </h1>
      <hr>
      <%projetos = Array.new%>
      <%quantidade_de_projetos_seguidos = 0%>
      <% current_usuario.following.each do |f| %>
        <%f.projetos.each do |p| %>
          <%projetos.push(p) %>
        <%end%>
    <% end %>


    <%projetos.each do |projeto|%>
      <h2><%= projeto.titulo %></h2>
      <%= image_tag projeto.foto_projeto.url(:medium) %><br>
      <h4><strong>Autor: <%=link_to projeto.usuario.nome, '../usuarios/'+projeto.usuario.id.to_s%></strong></h4>
      <p><strong>Descricao: </strong><%= projeto.descricao %></p>
      <% prox_pagina = "projetos/"+projeto.id.to_s%>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href=<%=prox_pagina %>>Visualizar</a>
      <%quantidade_de_projetos_seguidos = quantidade_de_projetos_seguidos +1%>
    <%end%>

    <%if quantidade_de_projetos_seguidos == 0%>
    <div class="col-lg-8 mx-auto">
        <h4 class="text-uppercase">
          Os usuarios que você segue não tem projetos ainda :(
        </h4>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="projetos#index">Explorar outros projetos</a>

    </div>

    <%end%>

<br>
<br>
