<% provide(:title, @title) %>

<div class="col-md-8 center">
  <h1><%= @title %>:</h1>
</div>

  <aside class="col-md-4">
    <section class="usuario_info">
      <h2><%= link_to @usuario.nome, @usuario %></h2>
      <span><b>Projetos:</b> <%= @usuario.projetos.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <%if @title == 'Seguidores'%></h1>

        <div class="container my-auto ">
              <%if @usuario.followers.count == 0%>
              <h3>Não há seguidores</h3>
              <%else%>
              <%@usuario.followers.each do |f| %>
              <h3><%=link_to f.username, '/usuarios/'+f.id.to_s%></h3>
              <%end%>
              <%end%>
        </div>
    <%else%>
    <div class="container my-auto">
          <%if @usuario.following.count == 0%>
          <h3>Este usuário não segue ninguem</h3>
          <%else%>
          <%@usuario.following.each do |f| %>
          <h3><%=link_to f.username, '/usuarios/'+f.id.to_s%></h3>
          <%end%>
          <%end%>
    </div>
    <%end%>
