
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase"
              <strong><%= @usuario.nome%></strong>
            </h1>
            <h2 class="title">
              <%=@usuario.username %>
            </h2>
            <%= render 'follow_form' if usuario_signed_in? %><br><br>
            <section class="stats pull-right">
              <%= render 'shared/stats' %>
            </section>

            <br>
            <hr>
            <hr>
            <%if @usuario.projetos.count == 0 && @usuario.desenvolvedor%>
            <div class="col-lg-8 mx-auto">
              <header class="masthead text-center d-flex">
                <h4 class="text-uppercase">
                  Este usuário não tem projetos ainda :(
                </h4>
              </header>
            </div>

            <%elsif @usuario.projetos.count == 0 && !@usuario.desenvolvedor%>
            <div class="col-lg-8 mx-auto">
              <header class="masthead text-center d-flex">
                <h4 class="text-uppercase">
                  Este usuário não é desenvolvedor
                </h4>
              </header>
            </div>


            <%else%>

            <% projetos = @usuario.projetos.order("created_at DESC") %>
<!--
            <% projetos.each do |projeto| %>
              <tr>
                <h2><%= projeto.titulo %></h2>
                <%= image_tag projeto.foto_projeto.url(:medium) %><br>
                <%autor = Usuario.find(projeto.usuario_id)%>
                <p><strong>Descricao: </strong><%= projeto.descricao %></p>
                <% prox_pagina = "../projetos/"+projeto.id.to_s%>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href=<%=prox_pagina %>>Visualizar</a>

                <br>
            <% end %>
          -->

                      <div class="card-columns">

                      <% projetos.each do |projeto| %>
                        <% prox_pagina = "../projetos/"+projeto.id.to_s%>

                          <div class="card "style="width: 100; height: 80; ">
                            <h4 class=" text-center font-weight-bold"><%=projeto.titulo%></h4>
                            <%= link_to prox_pagina  do %>
                            <%= image_tag projeto.foto_projeto.url, :size => '260x180', alt:"Card Image", class:"card-img img-fluid"  %>
                            <%end%>
                            <div class="card-block">
                              <p class="card-text text-center"><%=truncate projeto.descricao, length: 140%></p>
                              <!--<a class="btn btn-primary btn-card-titlexl js-scroll-trigger" href=<%=prox_pagina %>Visualizar</a>-->
                            </div>
                            <div class="card-footer">
                              <small class="text-muted">Última atualização:<%=projeto.updated_at.strftime("%d %b %Y, %H:%M")%></small>
                            </div>
                          </div>

                        <br>
                    <%end %>
                  </div>

<% end %>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>

      </div>
