<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html>
  <head>
    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">


        <title>CoffeeBreak</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>
      <body>

        <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light fixed-top" id="mainNav">

          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/home">CoffeeBreak</a>
            <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <% if usuario_signed_in? %>
                <%saudacao = "Olá "+ current_usuario.nome + "!"%>
                <strong><%= link_to saudacao, perfil_path, :class => 'nav-link js-scroll-trigger' %></strong>
                <%= link_to "Editar conta", editar_conta_path, :class => 'nav-link js-scroll-trigger'  %>
                <%= link_to "Logout", destroy_usuario_session_path, method: :delete, :class => 'nav-link js-scroll-trigger'  %>
                <% else %>
                <%= link_to "Cadastre-se", cadastrar_path, :class => 'nav-link js-scroll-trigger'  %>
                <%= link_to "Login", login_path, :class => 'nav-link js-scroll-trigger'  %>
                <% end %>
                <%= link_to "Sobre", sobre_path, :class => 'nav-link js-scroll-trigger'  %>
              </ul>

              <ul class="navbar-nav ml-auto navbar-right" id="navbarResponsive">
              <% if usuario_signed_in? %>
                <%if current_usuario.admin? %>
                  <a class="nav-link js-scroll-trigger"href="/admin">Painel Administrativo</a>
                  <%end%>
              <%end%>
            </ul>

              <ul class="navbar-nav ml-auto navbar-right" id="navbarResponsive">
                <%= link_to "Projetos", projetos_path, :class => 'nav-link js-scroll-trigger'  %>
                <% if usuario_signed_in?%>
                <% if current_usuario.desenvolvedor%>
                  <%= link_to "Crie um novo projeto", new_projeto_path, :class => 'nav-link js-scroll-trigger' %>
                 <% end %>
                <%end%>
              </ul>



            </div>
          </div>

        </nav>



          <div class="container">
              <%= flash_messages %>
          </div>
          <!--
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          -->

          <%= yield %>
</meta>
    </body>
  </html>
